<body class=" bg-slate-100">
    <div class="mx-2 my-2 flex flex-col">
        <div class="flex flex-row justify-center items-center">
            <h1 class="text-xl font-bold">New Chatroom</h1>
        </div>
        <hr class="my-2" />
        <div class="flex flex-col mx-4 my-4">
            <form method="post" action="/new">
                <div>
                    <label for="roomId">Room ID: </label>
                    <input required placeholder="Input an unique 6 character ID." class="inputNewChat" type="text" minlength='6' maxlength="6" id="roomId" name="roomId"/> 
                </div>
                <div>
                    <button type="submit" class="button rounded-md  bg-blue-300 px-0.5 py-0.5 hover:bg-blue-400">Create!</button>
                    <button type="button" class="button rounded-md  bg-slate-300 px-0.5 py-0.5 hover:bg-slate-200">
                        <a href="/">Cancel</a>
                    </button>
                </div>
            </form>            
        </div>
    </div>
</body>