<body class="bg-slate-100">
    <div class="mainContainer flex flex-col items-center">
        <h1 id="room">{{ roomName }}</h1>
        <div id="chatContent" class="flex flex-col self-center chatContainer border-black border-2">
        </div>
        <div>
            <form id="messageForm" class="flex flex-row my-2 items-center">
                <input type="hidden" id="userName">
                <textarea required name="message" id="message" rows="2" col="23"></textarea> 
                <div>
                    <button type="submit" class="mx-2 border-black button px-2 py-1 hover:bg-slate-200" >Send</button>
                </div>
            </form>
        </div>
    </div>
    <script src="http://localhost:8080/util/chatroomHandler.js" defer></script>
</body>