<body class="bg-slate-500 flex flex-col justify-center items-center h-screen">

  <h1 class="text-4xl mb-5">FilmRadar</h1>

  <div class="bg-slate-100 bg-opacity-10 p-8 rounded-lg shadow-md w-96">

    <p class="text-2xl font-bold mb-4 text-white text-center">Login</p>

    <form action="/" method="post" class="flex flex-col items-center space-y-4">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        required
        class="bg-transparent border border-white rounded-lg py-2 px-4 text-white w-full focus:outline-none focus:border-blue-800"
      />
      <div class="w-full relative">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
          {{!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" --}}
          {{!-- title="Please fill out the password" --}}
          class="bg-transparent border border-white rounded-lg py-2 px-4 text-white w-full focus:outline-none focus:border-blue-800"
        />
        <i
          class="fa-solid fa-eye absolute right-5 top-3.5 cursor-pointer"
          id="eye"
        ></i>
      </div>
      <input
        type="submit"
        value="Login"
        class="bg-white border border-white rounded-lg py-2 px-4 w-full hover:cursor-pointer hover:bg-blue-400 hover:border-blue-400 hover:text-white"
      />
    </form>

    <a href="/signup" class="text-black text-center">Don't have an account? Sign
      Up!</a>
  </div>

  <script>
    document.getElementById('eye').addEventListener('click', function (e) {
    const password = document.getElementById('password'); const type =
    password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type); });
  </script>

</body>